section.nos-engagements .card{
    min-height: 350px;
    border: 0;
    border-top: 4px solid #69b8ca;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

section.nos-engagements .card p{
    padding-top: 20px;
    text-align: center;
}