header .background-image{
    background-image: url("../img/interior-3531796_1920.jpg");
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content-text{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
}

header .content-text h1{
    color: white;  
    text-align: center; 
    padding: 20px;
    font-weight: lighter;
}

@media (max-width: 576px) { 
    header .content-text{
        width: 100%;
    }
 }